@model net_project_Revista.Models.FavouriteMovie
<form asp-page="MovieFavourites/MovieFavourites" method="post">
    <tr class="fav-movies">
        <td class="left col-md-6 col-sm-12">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500@(Model.Movie.PosterPath)" alt="WishList">
            <h1 class="movie-category">@Model.Movie.Title</h1>
        </td>                
        <td class="right col-md-6 col-sm-12">
            <button type="submit" class="btn btn-danger btn-lg">Remove</button>
        </td>
    </tr>
    <input type="hidden" asp-for="@Model.Movie.Id" name="id" />
    <input type="hidden" asp-for="@Model.Movie.Title" name="title" />
    <input type="hidden" asp-for="@Model.Movie.PosterPath" name="posterPath" />
</form>