@model net_project_Revista.Models.FavouriteMovie
<tr class="d-flex">
    <td class="col-12 col-lg-2">
        <img class="img-fluid" src="posterpath" + @Model.Movie.PosterPath" alt="WishList">
    </td>
    <td class="col-12 col-lg-3">
        <div class="movie-detail">
            <h1 class="movie-category">@Model.Movie.Title</h1>
            <h3>
                @Model.Movie.MovieGenres
            </h3>
        </div>
    </td>
    <td class="col-12 col-lg-2 item-release-date">@Model.Movie.ReleaseDate</td>
    <td class="col-12 col-lg-3 align-middle">
        <button type="button" class="btn btn-secondary btn-lg " onclick="notificationFavourite();">Remove</button>
    </td>
</tr>
