@page
@model net_project_Revista.Models.FavouriteMovie

<section class="pro-content favorite-content my-4">
    <div class="container">
        <div class="row">

            <div class="album py-5 bg-light">
                <div class="container">
                    @if (Model.Movie != null)
                    {
                        @*<div class="row">
                            @foreach (var movie in)
                            {
                                <div class="col-md-3">
                                    <partial name="_MoviePartial" for="@movie" />
                                </div>
                            }
                        </div>*@
                    }
                    else
                    {
                        <p>No Products!</p>
                    }
                </div>
            </div>


            <div class="col-12 col-lg-12 ">
                <table class="table top-table">
                    <tbody>
                        <tr class="d-flex">
                            <td class="col-12 col-lg-2">
                                <img class="img-fluid" @*src="@Model.Movie.PosterPath"*@ alt="WishList">
                            </td>
                            <td class="col-12 col-lg-3">
                                <div class="movie-detail">
                                    <h1 class="movie-category">@*@Model.Movie.Title*@</h1>
                                    <h3>
                                        @*@Model.Movie.MovieGenres*@
                                    </h3>
                                </div>
                            </td>
                            <td class="col-12 col-lg-2 item-release-date">@*@Model.Movie.ReleaseDate*@</td>


                            <td class="col-12 col-lg-3 align-middle">
                                <button type="button" class="btn btn-secondary btn-lg " onclick="notificationFavourite();">Remove</button>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <nav aria-label="navigation">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                Prev
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item-total">of 6</li>
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</section>
