@page
@model net_project_Revista.Pages.MovieFavourites.MovieFavouritesModel

<section class="pro-content favorite-content my-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12" style="color: #cca372">
                <table class="table top-table">
                    <tbody>
                        @if (Model.FavouriteMoviesList.Count > 0)
                        {
                            @foreach (var movie in Model.FavouriteMoviesList)
                            {
                                <partial name="_FavouritePartial" for="@movie" />
                            }
                        }
                        else
                        {
                            <tr class="no-favourites-row">
                                <td class="no-favourites-content">
                                    No Favourites!
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
