@page
@model net_project_Revista.Pages.MovieFavourites.MovieFavouritesModel

<section class="pro-content favorite-content my-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 ">
                <table class="table top-table">
                    <tbody>
                        @if (Model.FavouriteMoviesList.Count > 0)
                        {
                            @foreach (var movie in Model.FavouriteMoviesList)
                            {
                                <partial name="_FavouritePartial" for="@movie" />
                            }
                        }
                        else
                        {
                            <p>No Favourites!</p>
                        }
                    </tbody>
                </table>
                <nav aria-label="navigation">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                Prev
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item-total">of 6</li>
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</section>
