@page
@model net_project_Revista.Pages.MovieDetails.moviedetailsModel


<form asp-page="MovieDetails/moviedetails" method="post">
    <div class="album p-2 bg-light">
        <div class="container detailscontainer justify-content-center px-5">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@Model.Movie.PosterPath" alt="Card image cap" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-8 justify-content-left px-4 py-2">
                    <div class="detailsheading">@Model.Movie.Title</div>
                    <div class="releasedate">Date Released: @Model.Movie.ReleaseDate</div>
                    <br />
                    <br />
                    <br />
                    <div class="detailsheading">Overview</div>
                    <br />
                    <p class="detailstext" style="width: 18em;">@Model.Movie.Overview</p>
                    <input class="app-movie-addcart-button" type="submit" value="Add To Favourites" />
                </div>
            </div>
        </div>
    </div>
</form>