@page
@model net_project_Revista.Pages.MovieDetails.moviedetailsModel


<div class="container">
    <div>@Model.Movie.Title</div>

    <div>Date Released: @Model.Movie.ReleaseDate</div>

    <div>Overview</div>

    <p>@Model.Movie.Overview</p>
</div>
















@*Partials that are not working*@
@*<partial name="_MovieDetailsPartial" />*@


@*@{
    Html.RenderPartial("_MoviePartial");
}*@
