@page
@model net_project_Revista.Pages.MovieDetails.moviedetailsModel

<form asp-page="MovieDetails/moviedetails" method="post">
    <div class="section-wrapper">
        <section class="movie-detail-section">
            <div class="movie-poster">
                <img src=@Model.Movie.PosterPath alt="poster" />
            </div>
            <div class="movie-info">
                <div class="movie-title">
                    <h3>@Model.Movie.Title</h3>
                </div>
                <div class="movie-genre-and-date">
                    <h6><span class="descriptor">Release Date: </span>@Model.Movie.ReleaseDate.ToString("MMMM dd, yyyy")</h6>
                    <h6>
                        <span class="descriptor">Genre(s): </span>
                        @foreach (var genre in Model.AllGenreNames)
                        {
                            if (genre != null)
                            {
                                @genre;
                            }
                        }
                    </h6>
                </div>
                <div class="movie-overview">
                    <div class="overview-header">
                        <h4>Overview</h4>
                    </div>
                    <div class="overview-content">
                        <p>@Model.Movie.Overview</p>
                    </div>
                </div>
                <div class="add-to-favourites">
                    <button class="btn btn-success" style="margin-top:10px;" type="submit">Add to Favourites</button>
                </div>
            </div>
        </section>
    </div>
</form>