
 <div class="card card-image banner" style=" background-image: url(/images/banner-revista1920x626.png);
        background-repeat: no-repeat ; height: 400px">
      <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

          <!-- Content -->
          <h5 class="h5 orange-text"><i class="fa fa-video"></i> Choose your favourite Movie</h5>
          <h2 class="card-title h2 my-4 py-2">SSD .Net Revista Project </h2>
          <p class="mb-4 pb-2 px-md-5 mx-md-5">Yaroslav Naftulyev, Anthony Chan, Nick Charvat, Chris Bayne, Thelma Palma</p>
        </div>
      </div>
    </div>