<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <aside>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a dolor fringilla, sagittis odio a, mattis tortor. Aenean sit amet orci non quam hendrerit posuere quis ac lectus. 
                    <br />
                    <a> contactus@ouremail.notcom </a>
                </aside>
            </div>
            <div class="col-md-4">
                <h3>Rates</h3>
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Menu</h3>
                <ul>
                    <li>Ipsum</li>
                    <li>Lorem</li>
                </ul>
            </div>

        </div>
        <p class="copyright"> &copy; 2020 - SSD .NET Project - Revista - </p>
    </div>
</footer>
        

