<footer>

    <div class="row">
        <div class="col-md-1 spacing-col"></div>
        <div class="col-md-4">
            <h3 class="footer-heads">Contact Us</h3>
            <aside>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a dolor fringilla, sagittis odio a, mattis tortor. Aenean sit amet orci non quam hendrerit posuere quis ac lectus.
                <br />
                <a> contactus@ouremail.notcom </a>
            </aside>
        </div>

        <div class="col-md-3">
            <h3 class="footer-heads">Rates</h3>
            <ul class="footer-rates-nav">
                <li>Lorem</li>
                <li>Ipsum</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3 class="footer-heads">Menu</h3>
            <ul class="footer-menu-nav">
                <li>Ipsum</li>
                <li>Lorem</li>
            </ul>
        </div>
        <div class="col-md-1 spacing-col"></div>
    </div>
    <div class="row copyright-container">
        <div class="col-md-1 spacing-col"></div>
        <div class="col">
            <p class="copyright"> &copy; 2020 - SSD .NET Project - Revista - </p>
        </div>
        
    </div>
    


</footer>


