<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<footer>
    <div class="page-footer font-small indigo">
        <div class="container text-center text-md-center">
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Our Team</a>
                        </li>
                        <li>
                            <a href="#">Our History</a>
                        </li>
                        <li>
                            <a href="#">Our Guarantee</a>
                        </li>
                        <li>
                            <a href="#">Our Mission</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Customer Support</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Orders</a>
                        </li>
                        <li>
                            <a href="#">Movies</a>
                        </li>
                        <li>
                            <a href="#">Clients</a>
                        </li>
                        <li>
                            <a asp-page="/Privacy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Reach Us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Phone</a>
                        </li>
                        <li>
                            <a href="#">Email</a>
                        </li>
                        <li>
                            <a href="#">Fax</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Follow Us</h5>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-facebook-square" style="font-size:30px"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-twitter-square" style="font-size:30px"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-linkedin-square" style="font-size:30px"></i></a>
                    </li>
                </ul>
            </div>
            <div class="row copyright-container">
                <div class="col d-flex justify-content-center">
                    <p class="copyright"> &copy; 2020 - SSD .NET Project - Revista - </p>
                </div>
            </div>
        </div>
    </div>
</footer>