<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

        <a class="navbar-brand" asp-area="" asp-page="/Index"> <img class="logo" src="~/images/Logo-ReVista.png" /> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial">
                <ul class="navbar-nav flex-grow-1 header-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="nav-home" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="nav-movies"> Movies</a>
                    </li>
                </ul>
        </div>

    </nav>
</header>