/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

.card {
    background-color: #cca372;
    border: 1px solid #cca372;
}


a {
    color: black;
}

a hover {
    text-decoration: none;
    text-decoration-color: red;
}


    a:active hover {
        text-decoration: none;
    }


    a hover {
        text-decoration: none;
        text-decoration-color: red;
    }


body {
    font-family: 'Open Sans', sans-serif;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    text-decoration: none;
}
/*Header and Nav Styles
-------------------------------------------------- */

.nav-item {
    display: flex;
    align-items: center;
}


.logo {
    width: 150px;
    height: auto;
    padding-bottom: 0;
}

.fa-user {
    padding: 10px;
    color: grey;
    background-color: lightgrey;
    border-radius: 50px;
}

.fa-heart {
    padding: 10px;
    color: grey;
    background-color: lightgrey;
    border-radius: 50px;
}

    .fa-heart:hover {
        color: red;
        background-color: pink;
    }

#profile {
    margin-top: 10px;
}

#login {
    color: #cca372;
}



.badge {
    left: 5px !important;
    bottom: 18px !important;
    top: auto !important;
    height: 16px;
    width: 18px !important;
    color: white !important;
    border-radius: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 99 !important;
    border-radius: 200px !important;
    position: relative;
}


.badge-secondary {
    background-color: red !important;
}

.app-movie-filters {
    margin-top: 50px;
}

/*Banner
-------------------------------------------------- */

.card.card-image.banner {
    margin-bottom: 20px;
    background-image: url(/images/new-bannerRevista2.jpg);
    background-repeat: no-repeat;
    height: 317px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Body
-------------------------------------------------- */

@media (min-width: 1200px) {
    .container {
        max-width: 1319px !important;
    }
}

/*Footer
-------------------------------------------------- */

footer {
    background-color: lightgrey;
}

.copyright-container {
    background-color: black;
}

.copyright {
    color: white;
}

.footer-heads {
    margin-bottom: 10px;
}

aside {
    text-align: justify;
    padding: 20px 10px 40px;
}

.footer-rates-nav {
    list-style-type: none;
    padding: 20px 10px 40px;
}

.footer-menu-nav {
    list-style-type: none;
    padding: 20px 10px 40px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.wrap {
    background-image: url(../images/hollywood.jpg);
    background-attachment: fixed;
    background-size: inherit;
    background-repeat: round;
}

/* Login / Register page styles
-------------------------------------------------- */

@import "bourbon";

body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.email {
    margin-bottom: 10px;
}

.password {
    margin-bottom: 10px;
}

.or {
    text-align: center;
}

.signin {
    padding: 15px 35px 45px;
}

.form-signin {
    background-color: #808080a6;
    max-width: 1000px;
    min-height: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
}

.form-signin-heading {
    margin-bottom: 30px;
    text-align: center;
    font-size: 3em;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h3 {
    width: 100%;
    text-align: center;
    line-height: 0.1em;
    margin: 10px 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.exlogin-header {
    text-align: center;
    font-weight: 500;
}

.exlogin-btn-container {
    text-align: center;
}

/*Details Page Styling
-------------------------------------------------- */

.detailsheading {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 7px;
}

.releasedate {
    font-size: 16px;
}

.detailstext {
    font-weight: bold;
    font-size: 14px;
}

.detailscontainer {
    padding-top: 50px;
    margin-bottom:120px;
}

/*Two factor Auth page styles
-------------------------------------------------- */

.col-md-4 {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
}

.two-fa {
    text-align: center;
}

.auth-code {
    text-align: center;
    font-size: 1.5em;
}

/*fav page styles
-------------------------------------------------- */

tr.d-flex {
    background-color: var(--color-article1-background);
    align-items: center;
    border-color: var(--color-border);
    margin-bottom: 30px;
}



.table td, .table th {
    border-top: none !important;
}

h1.movie-category {
    font-weight: bolder;
}

.favorite-content .top-table tbody tr td {
    display: flex;
    justify-content: center;
    border: none;
}


.favorite-content .top-table tbody tr .item-release-date {
    color: #ffc107;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
}