/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*header*/
.logo {
    width: 150px;
    height: auto;
    padding-bottom: 0;
}

.fa-user {
    padding: 10px;
    color: grey;
    background-color: lightgrey;
    border-radius: 50px;
}

.fa-heart {
    padding: 10px;
    color: grey;
    background-color: lightgrey;
    border-radius: 50px;
}

#profile {
    margin-top: 10px;
}

#login {
    margin-top: 10px;
}

/*footer*/
footer {
    background-color: lightgrey;
}

.copyright-container {
    background-color: black;
}

.copyright {
    color: white;
}

.footer-heads {
    margin-bottom: 10px;
}

aside {
    text-align: justify;
    padding-right: 20px;
}

.footer-rates-nav {
    list-style-type: none;
    padding-left: 10px;
}

.footer-menu-nav {
    list-style-type: none;
    padding-left: 10px;
}

/* Login page styles
-------------------------------------------------- */
body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.email {
    margin-bottom: 10px;
}

.password {
    margin-bottom: 10px;
}

.line {
}

.or {
    text-align: center;
}

.form-signin {
    max-width: 1000px;
    min-height: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 10px 10px 5px #aaaaaa;
    .form-signin-heading, .checkbox

{
    margin-bottom: 30px;
    text-align: center;
    font-size: 3em;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    &:focus

{
    z-index: 2;
}

}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
}
