@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 class="register-title">@ViewData["Title"]</h1>
<br />
<div>
    <p class="register-info">Email Confirmed! Thank you </p>
</div>