@page
@model LoginModel
@*@{
		ViewData["Title"] = "Log in";
	}

	<h1>@ViewData["Title"]</h1>*@
<body>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">Login</h1>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<p>Email</p>
					<input type="text" class="form-control input-lg" placeholder="philweier@revista.com" />
				</div>

				<div class="form-group">
					<p>Password</p>
					<input type="password" class="form-control input-lg" placeholder="AnOfferYouCantRefuse72" />
				</div>

				<div class="form-group">
					<input type="submit" class="btn btn-block btn-lg btn-light" value="Login" />
					<br />
					<hr class="hr-or">
					<p class="span-or">or</p>
					<br />
					<input type="submit" class="btn btn-block btn-lg btn-danger" value="Register Now" />
				</div>
			</div>
		</div>
	</div>
</body>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
