@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="register-container">
    <h1 class="register-title">@ViewData["Title"]</h1>
    <br />
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p class="register-info">
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p class="register-info">
                Please check your email for the varification request to confirm your account. Please be sure to check in your Junk mail as well.
            </p>
        }
    }

</div>
