@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@foreach (var movie in Model.Movies)
{
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@movie.PosterPath" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@movie.Title</h5>
            <p class="card-text">@movie.Overview</p>
            <h3 class="card-title">@movie.Runtime</h3>

        </div>
    </div>
</div>

    }

