@page
@model IndexModel

<div class="container">
    @if (Model.MovieIndex != null && Model.MovieIndex.Movies.Any())
    {
        <div class="row">
            @foreach (var movie in Model.MovieIndex.Movies)
            {
                <div class="col-md-4">
                    <partial name="_MoviePartial" for="@movie" />
                </div>
            }
        </div>
    }
    else
    {
        <p>No Products!</p>
    }
</div>
