@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-container">
    <h1 class="privacy-header">@ViewData["Title"]</h1>

    <p class="privacy-info">Only Reason you would be on this page is because of the facebook login. Our Privacy Policy is that we do not take any of the information except your email associated with your facebook to login through facebook. This is project made by 5 BCIT SSD Program Students.</p>

    <br />

    <ul class="deletion-info">
        <h5>Data Deletion Instruction:</h5>
        <li>1. Go into your facebook account</li>
        <li>2. under settings go into apps and website</li>
        <li>3. Click on the checkbox beside Revista and Remove us</li>
    </ul>
</div>

